<section>
    <h4>Detalle</h4>
    <div class="mb-3 row">
        <label for="nombre" class="col-sm-2 col-form-label"><strong>Nombre:</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="nombre" value="email@example.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticMonto" class="col-sm-2 col-form-label"><strong>Monto:</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticMonto" value="email@example.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="staticFecha" class="col-sm-2 col-form-label"><strong>Fecha:</strong></label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="staticFecha" value="email@example.com">
        </div>
      </div>
</section>